NODE_ENV=development
PORT=4000
DATABASE_URL=postgresql://hms_user:Chathu@localhost:5432/hms_dev
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=bf9501fa9ad203dcc3afb31bd5996a99e712596e0e3d747ef8261c7fd90e1315
JWT_REFRESH_SECRET=258a7a5b5449a2e806c76446c556dea1bf063587d3bb9271093bd1a1d11167e1
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=30
JWT_GUEST_ACCESS_SECRET=fd109546f31428494f4b2b8ea288386c5f2d0a249985b29c49b3bd4e73c81e1f
JWT_GUEST_REFRESH_SECRET=3fcbbb506ad5c0c4b8fbe2c3264a6aaf434d7fb33000667a719d1a8b8b46c6bc
GUEST_ACCESS_TOKEN_TTL=30m
GUEST_REFRESH_TOKEN_TTL_DAYS=90
GUEST_OTP_TTL_MINUTES=10
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=Grand Lotus Hotel <no-reply@yourhotel.com>
SMTP_SECURE=false
STRIPE_SECRET_KEY=sk_live_or_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
CORS_ORIGIN=https://your-frontend-domain.com
